@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Genos:wght@200;300;400;600&display=swap');

/*----------------------------IMPORTAÇÔES---------------------------*/




/*-------------------------ATRIBUTOS GLOBAIS-------------------------*/





h1 {
    font-family: 'Genos', sans-serif;
}
/*-------------------------ATRIBUTOS GLOBAIS-------------------------*/





/*----------------------------CLASSES---------------------------------*/


.about-me {
    display: flex;

    margin-top: 15vh;
}

.typing-animation {
    font-size: 20px;
    flex-wrap: nowrap;

    width: 100vh;

    margin-top: 32vh;
    margin-left: 10vh;
}


/*----------------------------CLASSES---------------------------------*/






/*----------------------------ID'S-------------------------------------*/
#nerd {
    width: 540px;
    height: 540px;

    margin-left: 10vh;
}



/*----------------------------ID'S-------------------------------------*/
